aside{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #35C0F2;  
}
a{
    font-size: 35px;
    text-decoration: none;
    color: rgb(0, 38, 255);
}
a:hover{
    color: orangered;
}