* {
  font-size: 20px;
} 
main{
  margin-left: 30%;
  margin-right: 30%;
}
  /* Add padding to containers */
.container {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}
  /* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
  /* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button{
  border-radius: 5px;
  outline: none;
  transition-duration: 0.7s;
}
  /* Set a style for the submit button */
.registerbtn {
  background-color: #1c9fdb;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
}  
.registerbtn:hover {
  opacity: 1;
  width: 100%;
  margin: 0;
  transition: 0.5;
  background-color: #1c65db;
}
.registerbtn:disabled{
  background-color: #1c9fdb;
  opacity: 0.5;
  padding: 16px 20px;
  border: none;
  cursor: not-allowed;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
}
  /* Add a blue text color to links */
a {
  color: dodgerblue;
}
  /* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}