<aside>

    <nav class="nav flex-column">
        <a [routerLink]="['pedidos']" [routerLinkActive]="['activo']" class="nav-link" href="#!">Pedidos</a>
        <a [routerLink]="['productos']" [routerLinkActive]="['activo']" class="nav-link" href="#!">Productos</a>
        <a [routerLink]="['clientes']" [routerLinkActive]="['activo']" class="nav-link" href="#!">Clientes</a>
        <a [routerLink]="['informes']" [routerLinkActive]="['activo']" class="nav-link" href="#!">Informes</a>
      </nav>

</aside>