<main>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
            <div class="carousel-item active">
                <a [routerLink]="['tienda']"><img src="..\..\assets\img\teclados\teclado2_slider.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a [routerLink]="['tienda']"><img src="..\..\assets\img\teclados\teclado3_slider.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a [routerLink]="['tienda']"><img src="..\..\assets\img\teclados\teclado1_slider.jpg" class="d-block w-100" alt="..."></a>
            </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>

        </div>

    <br>

        <article class="menu_inicio">

            <article>
                <header>
                    <p class="texto">Más vendidos</p>
                </header>
                <section>
                    <a [routerLink]="['tienda']"><img class="imagenes_menu" src="..\..\assets\img\miniaturas_tienda\tec5.jpg" alt=""></a>
                </section>
            </article>

            <article>
                <header>
                    <p class="texto">Ofertas del dia</p>
                </header>
                <section>
                    <a [routerLink]="['tienda']"><img class="imagenes_menu" src="..\..\assets\img\miniaturas_tienda\tec3.jpg" alt=""></a>
                </section>
            </article>

            <article>
                <header>
                    <p class="texto">Mejor valorados</p>
                </header>
                <section>
                    <a [routerLink]="['tienda']"><img class="imagenes_menu" src="..\..\assets\img\miniaturas_tienda\tec7.jpg" alt=""></a>
                </section>
            </article>

        </article>

        <br>

</main>