<main>

    <article>
      <header id="margenes">LOREM 0</header>
      <section id="margenes">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quibusdam veniam odio quos dolorem 
          ipsam sapiente earum id repellendus nihil ipsa et omnis nemo, provident dolore fugit enim labore ad!</p>
      </section>
    </article>

    <article> 
      <div class="col-4">
          <header id="margenes">LOREM 1</header>
          <section id="margenes">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, illum laboriosam optio eos ab sit reprehenderit veniam. 
              Magni ex, libero dolorum possimus ab doloremque ea quam dicta sequi, labore commodi?</p>
          </section>
      </div>

      <div class="col-4">
          
          <header id="margenes">LOREM 2</header>

          <section id="margenes">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio autem iste magni corrupti ipsum culpa maxime rerum asperiores, 
                fuga qui minus est excepturi laudantium aut ad. Alias veniam velit minima?
            </p>
          </section>

      </div>

      <div class="col-4">

          <header id="margenes">LOREM 3</header>

          <section id="margenes">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, perferendis optio. 
                Vero, officia temporibus. Error eveniet a earum adipisci eaque aut laborum sit expedita atque nam, nisi facere accusamus tempore?
            </p>
          </section>

      </div>

   </article>

   <article>

      <header>LOREM 4</header>

        <section id="margenes">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia commodi quis nam obcaecati incidunt 
                vitae dolorum saepe eum quia aspernatur. Soluta dolor porro commodi laboriosam quas natus, velit modi impedit.
            </p>
        </section>

    </article>

</main>